.DS_Store
.env
.secret
/.powenv
/.bundle
/.rvmrc
/.rbenv-version
/.ruby-gemset
/config/database.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/public/uploads
/public/assets
/log/*.log
/log/*.log.*
/tmp
/.yardoc
/.rspec-local