@media (max-width: 768px) {
  /* line 6, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  .nav {
    display: none;
  }

  /* line 9, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  #introtxt {
    font-size: 25px;
    margin-top: 250px;
    margin-left: 20px;
  }

  /* line 14, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  #introsmall {
    font-size: 20px;
    margin-left: 20px;
  }

  /* line 19, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 25, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  #facebook-button, #instagram-button {
    display: none;
  }

  /* line 29, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
  #testimonial h4, #testimonial p {
    display: none;
  }
}
/* line 34, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.navbar {
  height: 93px;
  background-color: white;
  border-style: none;
  display: inline-block;
}

/* line 41, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.navbar ul li {
  padding-top: 25px;
}

/* line 45, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.navtxt {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* line 51, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.logo {
  height: 80px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 7px;
  padding-left: 0px;
}

/* line 59, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
body {
  background-color: white;
}

/* line 63, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.header-wrap {
  background: url(/assets/youngin.png) no-repeat center top;
  background-attachment: fixed;
  padding-top: 140px;
  position: static;
  margin-top: -50px;
  min-height: 750px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 81, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.header-wrap h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 200px;
  text-align: center;
  color: #ecf0f1;
}

/* line 91, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
.header-wrap p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ecf0f1;
}

/* line 100, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#flies {
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
}

/* line 106, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#flies p {
  color: black;
}

/* line 110, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#testimonial {
  background: url(/assets/bonerexplode.png) no-repeat center top;
  background-attachment: fixed;
  padding-top: 90px;
  position: static;
  min-height: 300px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 126, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#testimonial h4 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}

/* line 134, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#testimonial p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

/* line 141, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#about {
  background: white;
  position: static;
  min-height: 300px;
  padding-right: 75px;
  padding-left: 75px;
  margin-bottom: 50px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 159, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#about p {
  margin-top: 30px;
}

/* line 165, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#instagram-button img,
#facebook-button img {
  background: none;
  margin-top: 15px;
}

/* line 170, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#instagram-button img {
  position: fixed;
  padding-top: 270px;
  width: 70px;
  margin-left: -70px;
}

/* line 177, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#facebook-button img {
  position: fixed;
  padding-top: 190px;
  width: 70px;
  margin-left: -70px;
}

/* line 184, /Users/Alexander/Desktop/HOOK/app/assets/stylesheets/static.css.scss */
#Rud {
  height: 200px;
  width: 200px;
  display: block;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 
 */

