<div class="container" id="about" name="about" style="margin-top:90px">
  
  <%= image_tag "yard.png", id: "Rud" %>
  
  <p> At Hidden Hook we take pride in each fly that leaves the vice and guarantee their flawless performance. Each fly is hand tied by Hidden Hook founder Rudy Babikian, who was taught how to tie simple patterns when he was still shuffling around in a diaper. His father gave him his first vice when he was three years old, and his passion for tying and fishing live to this day.
  In addition to our proven flies and colors above, we offer custom flies, from small changes to a current fly to a completely new design. We thrive in our ability to adapt to changes in fish behavior, different fish species, and environments through customization. Contact us today for custom flies.

 </p>
</div>

