<div class="header-wrap  center" id="home" name="home">
  <header class="clearfix">
    <h1 id="introtxt">hidden hook flies</h1>
    <p id="introsmall">tested and proven worldwide</p>
  </header>
</div>
