<div class="header-wrap  center" id="home" name="home">
  <div class="blur"></div>
    <%= image_tag "whh.png", class: "logohead" %> 
//   <script type="text/javascript">
//   $(document).ready(function () {
//     $(".logohead").hide();
//     $(".logohead").bind("load", function () { $(this).fadeIn(4000); });
//   });
// </script>
    <!-- <h3> tested, proven, worldwide. </h3> -->
</div>
