<div class="container" id="products" name="products" style="margin-top:90px">
  

<% @products.each do |product| %>
<h2><%= product.name %></h2>
<p><%= product.description %></p>
<p><%= product.price %></p>
<%= image_tag(product.image.url, class: 'prod-img') %>
<% end %>

</p>

</div>
