<h1></h1>
<hr>
<hr>
<p>You can do it.</p>
<!-- Fixed navigation starts  -->
<div id="navbar-main">
  <div class="navbar  navbar-inverse  navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon  icon-menu"></span>
        </button>
        <a class="navbar-brand  smoothScroll" href="#home"><%= image_tag "logo.png", class: "logo" %>
</a> <!-- Branding -->
      </div>
      <div class="navbar-collapse  collapse">
        <ul class="nav  navbar-nav  navbar-right">
          <li><a href="#home" class="smoothScroll">home</a></li>
          <li><a href="#about" class="smoothScroll">about</a></li>
          <li><a href="#flies" class="smoothScroll">flies</a></li>
          <li><a href="#portfolio" class="smoothScroll">hh fish</a></li>
          <li><a href="#contact" class="smoothScroll">contact</a></li>
          <li>
            <a href="#cartModal" id='cart-button' data-target="#cartModal" data-toggle="modal">
              <i class="fa fa-shopping-cart fa-2x"></i>
              <%# if @order.line_items.any? %>
                <%#= pluralize(@order.line_items.sum(:quantity), 'fly') %>
              <%# end %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- navigation ends -->