<div class="container" id="flybox" name="flybox" style="margin-top:90px">

<h2> RENTAL FLY BOX </h2>
 
 <p>
Hidden Hook Flies has partnered with Release Fly Travel to ensure their anglers reach each destination with a box full of the very best flies available for that particular water.

After many years of traveling on various fly fishing trips around the world we know that preparation is key to maximizing success when fishing foreign water. We fully believe that having the right fly in the water and fishing that fly with confidence will result in more and bigger fish. 

We’ve come to the realization that non fly tiers or anglers unsure of a particular fishery usually make one of two mistakes – either they don’t purchase enough flies and run out mid-trip, or they over prepare and put a serious dent in their wallets.

With the “rental fly box” option we ensure that our anglers feel both thoroughly prepared for their trip while also not spending huge amounts of money on unused and unneeded flies.</p>

<h2> HOW THE “RENTAL FLY BOX” WORKS </h2>
<p>
Upon booking, anglers have the option to place an order for whichever destination they intend to fly fish. A box is then shipped directly to you from Hidden Hook Flies with multiple colors, sizes, and types of an array of flies we have tested and have had success with in the same areas of water. More then likely there will be extra flies, and at the end of the trip anglers have the option of sending these extras back to Hidden Hook Flies in a prepaid envelope. Anglers will then be billed only for flies used, and any fly that isn’t used will not be charged.

This order can be placed either with Release Fly Travel or Hidden Hook Flies as the price is the same. We offer this value-add at no additional cost whatsoever to take the guess work out of trip preparation and to ensure that anglers reach each destination fully prepared for the fly fishing opportunities they will encounter.

Please inquire for more information or to discuss fly needs and custom orders for your next trip or even in your home waters – wherever they may be. </p>
</div>