// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.navbar {
  height:100px;
  background-color: white;
  border-style: none;
  display: inline-block;
}

.navbar ul li {
    padding-top: 25px;
  }

 .navtxt {
    font-size: 25px;

 } 

.logo {
  height: 100px;
  display: inline-block;
  margin: 0 auto;
  padding-left: 0px;
}

body {
  background-color: beige;
  }

  .header-wrap {
    background: asset-url('youngin.png') no-repeat center top;
    padding-top: 140px;
    margin-top: -50px;
    min-height: 750px;
    width: 100%;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

    .header-wrap h1 {
        font-size: 100px;
        font-weight: bold;
        padding-bottom: 20px;
        margin-top: 170px;
        color: #ecf0f1;
    }

    .header-wrap p {
        font-size: 38px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #ecf0f1;
    }

