// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @media (max-width: 768px) {
  .nav {
    display: none;
  }
  #introtxt {
    font-size: 25px;
    margin-top: 250px;
    margin-left: 20px;
  }
  #introsmall {
    font-size: 20px;
    margin-left: 20px;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #facebook-button, #instagram-button {
    display: none;
  }

  #testimonial h4, #testimonial p {
    display: none;
  }
}

.navbar {
  height:93px;
  background-color: white;
  border-style: none;
  display: inline-block;
}

.navbar ul li {
    padding-top: 25px;
  }

 .navtxt {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
 } 


.logo {
  height: 80px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 7px;
  padding-left: 0px;
}

body {
  background-color: white;
  }

  .header-wrap {
    background: asset-url('blue.png') no-repeat center top;
    background-attachment: fixed;
    padding-top: 140px;
    position: static;
    margin-top: -50px;
    min-height: 750px;
    width: 100%;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

    .header-wrap h1 {
        font-size: 50px;
        font-family: sans-serif;
        font-weight: bold;
        padding-bottom: 20px;
        margin-top: 200px;
        text-align: center;
        color: #ecf0f1;
    }

    .header-wrap p {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ecf0f1;
    }
#products {
  margin-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;

}
#products p {
  color:black;
}

#testimonial {
    background: asset-url('blue.png') no-repeat center top;
    background-attachment: fixed;
    padding-top: 90px;
    position: static;
    min-height: 300px;
    width: 100%;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}
#testimonial h4 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
#testimonial p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

#about {
    background: white;
    position: static;
    min-height: 300px;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 50px;


    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

#about p {
  margin-top: 30px;
}


#instagram-button img,
#facebook-button img {
    background: none;
    margin-top: 15px;
}

#instagram-button img {
    position:fixed;
    padding-top: 270px;
    width: 70px;
    margin-left: -70px;
}

#facebook-button img {
    position:fixed;
    padding-top: 190px;
    width: 70px;
    margin-left: -70px;
}

#Rud {
    height: 200px;
    width: 200px;
    display: block;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.prod-img {
  height: 260px;
  width:300px;
}
