// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  #introtxt {
    font-size: 25px;
    margin-top: 250px;
    margin-left: 20px;
  }
  #introsmall {
    font-size: 20px;
    margin-left: 20px;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #facebook-button, #instagram-button {
    display: none;
  }

  #testimonial h4, #testimonial p {
    display: none;
  }
}

.navbar {
  height:93px;
  background: asset-url('map.png');
  border-style: none;
  display: inline-block;
}

.navbar ul li {
    padding-top: 25px;
  }

 .navtxt {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
 } 

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: blue;
    background-color: transparent;
}

.logo {
  height: 80px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 7px;
  padding-left: 0px;
}

.logohead {
  display: block;
  width: 350px;
  margin-top: 200px;
  /*background: asset-url('whh.png');*/
  margin-left: 450px;
}

body {
  background: asset-url('map.png');
  }

  .header-wrap {
    background: asset-url('ladder.png');
    background-attachment: fixed;
    padding-top: 140px;
    position: static;
    margin-top: -50px;
    min-height: 750px;
    width: 100%;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

    .header-wrap h3 {
        font-size: 50px;
        font-family: sans-serif;
        font-weight: bold;
        padding-bottom: 20px;
        margin-top: 100px;
        text-align: center;
        color: #ecf0f1;
    }

    .header-wrap p {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.5px;
        text-align: center;
        color: #708090;
    }

#products p {
  color:black;
}

#custer {
  padding-left: 80px;
}

#custer h1 a {
  color: gray !important;
  font-size: 50px;
  padding-top: 80px;
  padding-left: 220px;
  text-decoration: none;
}

#custer p a {
  text-decoration: none;
  color: salmon !important;
}


#testimonial {
    background: asset-url('bonerexplode.png') no-repeat center top;
    background-attachment: fixed;
    padding-top: 90px;
    position: static;
    min-height: 300px;
    width: 100%;
    clear:both;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}
#testimonial h4 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}

#testimonial p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

#flybox {
    background: asset-url('map.png') no-repeat center top;
    background-attachment: fixed;
    position: static;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: 300px;
    width: 100%;
    clear:both;

    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}
#flybox p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

#flybox h2 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  }
#about {
    background: asset-url('map.png') contain;
    position: static;
    min-height: 300px;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 50px;


    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

#about p {
  margin-top: 30px;
}


#instagram-button img,
#facebook-button img {
    background: none;
    margin-top: 15px;
}

#instagram-button img {
    position:fixed;
    padding-top: 270px;
    width: 70px;
    margin-left: -70px;
}

#facebook-button img {
    position:fixed;
    padding-top: 190px;
    width: 70px;
    margin-left: -70px;
}

#Rud {
    height: 200px;
    width: 200px;
    display: block;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#products {
  margin: 40px;
  margin-left: 250px;
}

/*#text_field { 
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:20px; 
    width: 100px; 
   } */

ul.produl li {
  list-style-type: none;
  width: 800px;
  margin-top: 50px;
}

li.prodli h3 {
 font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li.prodli {
  padding: 10px;
  overflow: auto;
}


li.prodli p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}


.prodli-img {
  float: left;
  margin: 0 15px 0 0;
  width:200px;
  height: 200px;
}

.btn-primary {
  background-color: #708090;
  border-style: none;
}

#cart-button img {
  width: 30px;
  height: 28px;
}  
#cart {
  margin-left: 300px;
  margin-top: 200px;
}

